Repository Codeinwp/feedzy-rss-feeds, pull requests merged in 2024-12, with the labels that each got.

#1017 Rebase
  .github/workflows/test-php.yml
Labels: pr-checklist-skip

#1005 Fixed cache data issue elementor widgets
  includes/abstract/feedzy-rss-feeds-admin-abstract.php
  includes/admin/feedzy-wp-widget.php
  includes/feedzy-rss-feeds.php
Labels: pr-checklist-skip, pr-checklist-complete

#1007 Improved purge and reset button
  includes/admin/feedzy-rss-feeds-import.php
Labels: pr-checklist-skip, pr-checklist-complete

#1009 Removed double quotes from paraphrased text
  includes/admin/feedzy-rss-feeds-actions.php
Labels: pr-checklist-skip, pr-checklist-complete

#1010 feat: use content tags in import fields
  includes/admin/feedzy-rss-feeds-import.php
  includes/views/import-metabox-edit.php
Labels: pr-checklist-complete

#1019 feat: move translation option to action tab
  css/settings.css
  includes/admin/feedzy-rss-feeds-actions.php
  includes/admin/feedzy-rss-feeds-admin.php
  includes/admin/feedzy-rss-feeds-import.php
  includes/views/import-metabox-edit.php
  includes/views/js/import-metabox-edit.js
  js/ActionPopup/SortableItem.js
  js/ActionPopup/action-popup.js
Labels: pr-checklist-skip, pr-checklist-complete

#1021 fix: make sure post author is assigned to imported posts
  includes/admin/feedzy-rss-feeds-import.php
Labels: pr-checklist-skip, pr-checklist-complete

#1024 chore: remove outdated textdomain loading
  includes/feedzy-rss-feeds-i18n.php
  includes/feedzy-rss-feeds.php
Labels: pr-checklist-skip, pr-checklist-complete

#1027 chore: add ESLint config file and deps
  .eslintrc
  .github/workflows/test-lint-js.yml
  js/ActionPopup/action-popup.js
  js/FeedBack/feedback-form.js
  js/FeedBack/feedback.js
  js/FeedzyBlock/utils.js
  package-lock.json
  package.json
Labels: pr-checklist-skip, pr-checklist-complete

#1032 feat: use action scheduler when available
  includes/admin/feedzy-rss-feeds-import.php
  includes/util/feedzy-rss-feeds-util-scheduler.php
Labels: pr-checklist-skip, pr-checklist-complete

#1028 Added cron schedule settings per import job
  includes/admin/feedzy-rss-feeds-import.php
  includes/feedzy-rss-feeds.php
  includes/util/feedzy-rss-feeds-util-scheduler.php
  includes/views/import-metabox-edit.php
  tests/e2e/specs/upsell.spec.js
Labels: pr-checklist-skip, pr-checklist-complete

#1039 feat: improve build process
  .distignore
  .gitignore
  includes/admin/feedzy-rss-feeds-admin.php
  includes/gutenberg/feedzy-rss-feeds-gutenberg-block.php
  js/ActionPopup/index.js
  js/FeedBack/index.js
  js/FeedzyBlock/index.js
  js/Onboarding/index.js
  package-lock.json
  package.json
  webpack.config.js
Labels: pr-checklist-skip, pr-checklist-complete

#1036 feat: add review modal
  .distignore
  includes/admin/feedzy-rss-feeds-admin.php
  includes/feedzy-rss-feeds-feed-tweaks.php
  includes/feedzy-rss-feeds.php
  js/Review/index.js
  package.json
Labels: pr-checklist-skip, pr-checklist-complete

#1030 feat: add post author selection to Feed Imports
  css/settings.css
  includes/admin/feedzy-rss-feeds-import.php
  includes/views/import-metabox-edit.php
  includes/views/js/import-metabox-edit.js
Labels: pr-checklist-skip, pr-checklist-complete

#1031 feat: improve external featured image handling
  includes/feedzy-rss-feeds-feed-tweaks.php
Labels: pr-checklist-skip, pr-checklist-complete

#1015 fix: handle default category gracefully
  includes/admin/feedzy-rss-feeds-import.php
Labels: pr-checklist-skip, pr-checklist-complete

#1044 Add conditions to block
  .distignore
  composer.json
  composer.lock
  css/settings.css
  includes/abstract/feedzy-rss-feeds-admin-abstract.php
  includes/admin/feedzy-rss-feeds-admin.php
  includes/admin/feedzy-rss-feeds-import.php
  includes/feedzy-rss-feeds.php
  includes/util/feedzy-rss-feeds-conditions.php
  includes/views/import-metabox-edit.php
  js/Conditions/ConditionsControl.js
  js/Conditions/DateTimeControl.js
  js/Conditions/PanelTab.js
  js/Conditions/index.js
  package.json
  tests/bootstrap.php
  tests/e2e/specs/upsell.spec.js
  tests/test-conditions.php
  tests/test-image-import.php
Labels: pr-checklist-skip, pr-checklist-complete

#1029 feat: add regex support to Search/Replace action
  includes/admin/feedzy-rss-feeds-actions.php
  js/ActionPopup/SortableItem.js
Labels: pr-checklist-skip, pr-checklist-complete

#1037 Various
  .distignore
  .github/workflows/build-dev-artifacts.yml
  .wp-env.json
  bin/cli-setup.sh
  bin/mysql/init-db.sql
  bin/run-e2e-tests-default.sh
  bin/run-e2e-tests-gutenberg.sh
  bin/wp-down.sh
  bin/wp-init.sh
  css/settings.css
  feedzy-rss-feed.php
  form/form.php
  includes/admin/feedzy-rss-feeds-admin.php
  includes/admin/feedzy-rss-feeds-import.php
  includes/admin/feedzy-rss-feeds-ui-lang.php
  includes/admin/feedzy-rss-feeds-ui.php
  includes/elementor/controls/template-layout.php
  includes/elementor/feedzy-rss-feeds-elementor.php
  includes/elementor/widgets/register-widget.php
  includes/feedzy-rss-feeds-feed-tweaks.php
  includes/feedzy-rss-feeds.php
  includes/gutenberg/feedzy-rss-feeds-gutenberg-block.php
  includes/layouts/feedzy-pro.php
  includes/layouts/setup-wizard.php
  includes/util/feedzy-rss-feeds-util-scheduler.php
  includes/views/amazon-product-advertising-view.php
  includes/views/css/import-metabox-edit.css
  includes/views/import-metabox-edit.php
  includes/views/js/import-metabox-edit.js
  includes/views/openai-view.php
  includes/views/openrouter-view.php
  includes/views/spinnerchief-view.php
  includes/views/wordai-view.php
  js/FeedzyBlock/Editor.js
  js/FeedzyBlock/inspector.js
  js/feedzy-elementor-widget.js
  package.json
  tests/e2e/specs/upsell.spec.js
Labels: pr-checklist-skip, pr-checklist-complete

#1038 Store error logs for each import job
  css/feedzy-rss-feed-import.css
  feedzy-rss-feed.php
  includes/admin/feedzy-rss-feeds-import.php
  includes/views/css/import-metabox-edit.css
  includes/views/js/import-metabox-edit.js
Labels: pr-checklist-skip, pr-checklist-complete

#1042 Move license key section
  css/settings.css
  includes/layouts/settings.php
  js/feedzy-setting.js
Labels: pr-checklist-skip, pr-checklist-complete

#1046 Adds import/export configuration
  includes/admin/feedzy-rss-feeds-import.php
  includes/feedzy-rss-feeds-feed-tweaks.php
  includes/feedzy-rss-feeds.php
  includes/views/css/import-metabox-edit.css
  includes/views/js/import-metabox-edit.js
  tests/e2e/specs/upsell.spec.js
  tests/e2e/utils.js
Labels: pr-checklist-skip, pr-checklist-complete

#1035 feat: Assign imported posts to categories based on the keywords
  css/settings.css
  includes/admin/feedzy-rss-feeds-admin.php
  includes/admin/feedzy-rss-feeds-import.php
  includes/layouts/settings.php
  includes/views/import-metabox-edit.php
  js/feedzy-setting.js
Labels: pr-checklist-skip, pr-checklist-complete

#1041 Adds actions support in custom fields
  css/settings.css
  includes/admin/feedzy-rss-feeds-actions.php
  includes/admin/feedzy-rss-feeds-import.php
  includes/views/import-metabox-edit.php
  includes/views/js/import-metabox-edit.js
  js/ActionPopup/index.js
Labels: pr-checklist-skip, pr-checklist-complete

#1033 Adds multiple fallback images support
  includes/admin/feedzy-rss-feeds-import.php
  includes/views/import-metabox-edit.php
  includes/views/js/import-metabox-edit.js
Labels: pr-checklist-skip, pr-checklist-complete

#1034 Improved remove duplicates
  includes/admin/feedzy-rss-feeds-import.php
  includes/views/import-metabox-edit.php
  includes/views/js/import-metabox-edit.js
  tests/e2e/specs/upsell.spec.js
  tests/test-import.php
Labels: pr-checklist-skip, pr-checklist-complete

#1043 Adds auto-delete featured image
  css/settings.css
  includes/admin/feedzy-rss-feeds-admin.php
  includes/admin/feedzy-rss-feeds-import.php
  includes/layouts/settings.php
  includes/views/import-metabox-edit.php
  tests/e2e/specs/upsell.spec.js
Labels: pr-checklist-skip, pr-checklist-complete
